.ms-auto {
    margin-left: auto !important;
}
.bg-gwu {
    background-color: rgb(2, 43, 65);
}
.test {
    text-align: center;
    color: #0073aa;
}
.divider {
    background-color: #0073aa;
    height: 4px;
}
.resize {
    max-width: 100%;
}